.container.zero-padding.better.login#loginPage
    .col-md-4

    .col-md-4
        form
            .form-group
                input.form-control#loginUser(type='text', placeholder='Username')

            .form-group
                input.form-control#loginPassword(type='password', placeholder='Password')

            button.center-block.btn.btn-default#submitLogin(type='button') Submit

            p.hiding#notSuccess Login unsucessfully! Check your username and password

    .col-md-4