.container-fluid.final
  .col-md-2
  .col-md-8
    .container-fluid()
      .col-md-4#OGimg
        center
          img(src="img/mae.fwd.logo.png")
      .col-md-8
        .row#OGtype OG Type
        .row#OGname OG Name
        .row#Height Height
        .row#Weight Weight

    hr 

    .container-fluid
      .panel.panel-default
        .panel-heading Pokemon description
        .panel-body#Description Description here!!!

    hr

    .container-fluid#myForm
      h2 Input the scores

      form.form-horizontal
        .form-group
          label.col-sm-3.control-label(for="experience") Experience Gained
          .col-sm-9
            input.col-sm-9.form-control(type="number", id="experience")
            .label.label-default.col-sm-4.hiding#checkExp(style="margin-top: 10px") Well done!

        .form-group
          label.col-sm-3.control-label(for="coin") Pokécoin
          .col-sm-9
            input.form-control(type="number", id="coin")
            .label.label-default.col-sm-4.hiding#checkCoin(style="margin-top: 10px") Well done!

      include drop_down_widget.jade

      button.btn.btn-default#submitAll Submit

    .container-fluid.hiding#submitSuccess
        h2.text-center Submit successfully!
        button.btn.btn-primary.center-block(onclick='submitAgain()') Submit again?

    .container-fluid.hiding#error
        h2 Not successfully
        h2 Click here to try again

  .col-md-2




