h2 Input the scores

form.form-horizontal
	.form-group
			label.col-sm-3.control-label(for="expEntry") Experience Gained
			.col-sm-9
				.form-inline
					.btn-group(data-toggle="buttons", style="margin-right:10px")
						label.btn.btn-primary.active Add
							input(type="radio", name="expAddorMinus", id="option1" autocomplete="off", value="Add", checked)

						label.btn.btn-primary Minus
							input(type="radio", name="expAddorMinus", id="option2" autocomplete="off", value="Minus")
						script.
							$('#option2').on('click', function () {
								$('#option2').radio('active');
								$('#option1').radio('reset');}
					input.form-control(type="number", id="expEntry")

	.form-group
		label.col-sm-3.control-label(for="coinEntry") Pokécoin
		.col-sm-9
			.form-inline
				.btn-group(data-toggle="buttons", style="margin-right:10px")
					label.btn.btn-primary.active Add
						input(type="radio", name="expAddorMinus", id="option1" autocomplete="off", value="Add", checked)

					label.btn.btn-primary Minus
						input(type="radio", name="expAddorMinus", id="option2" autocomplete="off", value="Minus")
					script.
						$('#option2').on('click', function () {
							$('#option2').radio('active');
							$('#option1').radio('reset');}
				input.form-control(type="number", id="coinEntry")

	//.form-group
		label.col-sm-3.control-label(for="capturedPokemon") Catched Pokemon
		.col-sm-9
			.form-inline
				select.col-sm-3.form-control#pokeType
					option(value="None") Type
					option(value="Fire") Fire
					option(value="Water") Water
					option(value="Ice") Ice
					option(value="Physics") Physics
					option(value="Grass") Grass

				select.col-sm-3.form-control#pokemonSelect

				.col-sm-1
				
				button.col-sm-1.btn.btn-default(onclick="displayFunction()") Add

include drop_down_widget.jade