.container.zero-padding.better.login#loginPage
    .col-md-4

    .col-md-4
        form
            .form-group
                input.form-control#loginUser(type='text', placeholder='Username')

            .form-group
                input.form-control#loginPassword(type='password', placeholder='Password')

            button.center-block.btn.btn-default#submitLogin(type='button') Log In

        .label.label-primary.hiding#notSuccess

    .col-md-4