.container-fluid.hiding#submitSuccess
    h2 Submit successfully!
    button.btn.btn-primary(click=) Submit again?

.container-fluid.hiding#error
    h2 Not successfully
    h2 Click here to try again