.container(style="margin-top:200px")
    .col-md-2
    .col-md-4
        .col-md-4
            p.pc-only pc-only
            img.mobile-only(src="img/darkrai.png")
        .col-md-4 
            p.pc-only pc-only
            img.mobile-only(src="img/suicine.png")
        .col-md-4
            p.pc-only pc-only
            img.mobile-only(src="img/virizion.png")
    .col-md-4
        .col-md-4
            p.pc-only pc-only
            img.mobile-only(src="img/kyurem.png")
        .col-md-4
            p.pc-only pc-only
            img.mobile-only(src="img/moltres.png")
        .col-md-4
            p.pc-only pc-only
            img.mobile-only(src="img/lugia.png")
    .col.md-2