.container.better.first#firstpage
    .col-md-1
    .col-md-5.zero-margin.zero-padding
        .col-md-4.clans(data-bind="moltres")
            img.pc-only.img-responsive.center-block(src="img/Moltres.jpg")
            .img-div-bottom.text-center.zero-padding.pc-only(style="background-color:#FF0000") Moltres
            img.mobile-only.center-block(src="img/moltres.png")
            .img-div-onmobile.text-center.mobile-only(style="background-color:#FF0000") Moltres
        .col-md-4.clans(data-bind="lugia") 
            img.pc-only.img-responsive.center-block(src="img/Lugia.jpg")
            .img-div-bottom.text-center.zero-padding.pc-only(style="background-color:#9F55A1") Lugia
            img.mobile-only.center-block(src="img/lugia.png")
            .img-div-onmobile.text-center.mobile-only(style="background-color:#9F55A1") Lugia
        .col-md-4.clans(data-bind="virizion")
            img.pc-only.img-responsive.center-block(src="img/Virizion.jpg")
            .img-div-bottom.text-center.zero-padding.pc-only(style="background-color:#6FDB27") Virizion
            img.mobile-only.center-block(src="img/virizion.png")
            .img-div-onmobile.text-center.mobile-only(style="background-color:#6FDB27") Virizion
    .col-md-5.zero-margin.zero-padding
        .col-md-4.clans(data-bind="suicune")
            img.pc-only.img-responsive.center-block(src="img/Suicune.jpg")
            .img-div-bottom.text-center.zero-padding.pc-only(style="background-color:#15AFD1") Suicune
            img.mobile-only.center-block(src="img/suicune.png")
            .img-div-onmobile.text-center.mobile-only(style="background-color:#15AFD1") Suicune
        .col-md-4.clans(data-bind="darkrai")
            img.pc-only.img-responsive.center-block(src="img/Darkrai.jpg")
            .img-div-bottom.text-center.zero-padding.pc-only(style="background-color:#333131") Darkrai
            img.mobile-only.center-block(src="img/darkrai.png")
            .img-div-onmobile.text-center.mobile-only(style="background-color:#333131") Darkrai
        .col-md-4.clans(data-bind="kyurem")
            img.pc-only.img-responsive.center-block(src="img/Kyurem.jpg")
            .img-div-bottom.text-center.zero-padding.pc-only(style="background-color:#FFFFFF") Kyurem
            img.mobile-only.center-block(src="img/kyurem.png")
            .img-div-onmobile.text-center.mobile-only(style="background-color:#FFFFFF") Kyurem
    .col.md-1

.container.clan2OG
    .col-md-1
    .col-md-2 1
    .col-md-2 2
    .col-md-2 3
    .col-md-2 4
    .col-md-2 5
    .col-md-1