
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

h2 Catched pokemon

form.form-horizontal.container-fluid.selection-form
  .form-group.selection.no-margin
    label.col-md-1.control-label(for='select')
      i.fa.fa-lg.fa-minus-square
    .col-md-5.no-padding
      select#select.form-control
        option None
        option 2
        option 3
        option 4
        option 5
    .col-md-5.no-padding
      select#select.form-control
        option None
        option 2
        option 3
        option 4
        option 5
    .col-md-1
  .form-group.selection.no-margin
    label.col-md-1.control-label(for='select')
      i.fa.fa-lg.fa-minus-square
    .col-md-5.no-padding
      select#select.form-control
        option None
        option 2
        option 3
        option 4
        option 5
    .col-md-5.no-padding
      select#select.form-control
        option None
        option 2
        option 3
        option 4
        option 5
    .col-md-1
  .add-new
    .col-md-5
    .col-md-5
    .col-md-1.btn.btn-primary
      i.fa.fa-lg.fa-plus-square

