
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

h2 Pokemon caught

form.form-horizontal.container-fluid.selection-form
  .form-group.selection.no-margin
    label.col-md-1.control-label(for='select')
      i.fa.fa-lg.fa-minus-square
    .col-md-5.no-padding
      select.form-control.pokeType
          option(value="None") Type
          option(value="Fire") Fire
          option(value="Water") Water
          option(value="Ice") Ice
          option(value="Physics") Physics
          option(value="Grass") Grass
    .col-md-5.no-padding
      select.col-sm-3.form-control.pokemonSelect
    .col-md-1
  
  .add-new
    .col-md-5
    .col-md-5
    .col-md-1.btn.btn-primary
      i.fa.fa-lg.fa-plus-square   Add

