hr

.container.fillx.footer
    button.btn.btn-default.center-block(style='display: inline-block',onclick='toClansButton()') To Clans
    button.btn.btn-default.center-block(style='display: inline-block',onclick='backButton()') Back