doctype html

html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="chrome=1")
		meta(name="viewport",content="width=device-width,initial-scale=1")
		link(href="css/simplex_bootstrap.css", rel="stylesheet")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")
		link(href="./css/drop_down_widget.css", rel="stylesheet")

	title MAE FWD 2015 - Live Score Page

	body

		.navbar-default.navbar-fixed-top
			center
				a(href="index.html", style="text-decoration:none")
					img(src="img/mae.fwd.logo.png", style="width: 15%")
					p(style="font-size:30px") FWD 2015 Livescore update

		include cover-page.jade

		.container-fluid.final
			.col-md-2
			.col-md-8

				.container-fluid
					.col-md-4
						center
							img(src="img/mae.fwd.logo.png")
					.col-md-8
						.row#OGtype OG Type
						.row#OGname OG Name
						.row#Height Height
						.row#Weight Weight
						.row#Ranking OG Ranking

				hr 

				.container-fluid
						.panel.panel-default
							.panel-heading Pokemon description
							.panel-body#Description Description here!!!

				hr 

				include public-result-display.jade

			.col-md-2

	script(src="js/jquery-1.11.0.js")
	script(src="js/bootstrap.min.js")
	//script(src="js/dropdownlist.js")
	script(src="js/clans-to-OGs.js")
	script(src="http://www.parsecdn.com/js/parse-1.5.0.min.js")
	script(src="js/dataLib.js")