.container-fluid
	h2 Current results

	.container-fluid
		.panel.panel-warning
			.panel-heading
				.panel-title Exp Point
			.panel-body Current point

	.container-fluid
		.panel.panel-info
			.panel-heading
				.panel-title Pokecoin
			.panel-body Current coin

	.container-fluid
		.panel.panel-success
			.panel-heading
				.panel-title Pokemon Caught
			.panel-body Pictures showing