.navbar-default.navbar-fixed-top
	center
		a(href="index.html", style="text-decoration:none")
			img(src="img/mae.fwd.logo.png", style="width: 15%")
			p(style="font-size:30px") FWD 2015 Admin

.col-md-2
.col-md-8

	.container-fluid(style="margin-top: 190px")
		.col-md-4
			center
				img(src="img/mae.fwd.logo.png")
		.col-md-8
			.row OG Number
			.row OG name
			.row OG Type
			.row OG Ranking

	hr 

	include public-part.jade

.col-md-2