
.container-fluid
	.col-md-2
	.col-md-8

		.container-fluid(style="margin-top: 190px")
			.col-md-4
				center
					img(src="img/mae.fwd.logo.png")
			.col-md-8
				.row OG Number
				.row OG name
				.row OG Type
				.row OG Ranking

		hr 

		include admin-part.jade

	.col-md-2